* {
  padding: 0px;
  margin: 0px;
}

#container {
  position: relative;
  height: 200vh;
  vh: 1% of height;
  background: aliceblue;
}

.hidden {
  transform: translateX(-100%);
} 

.page {
  position: absolute;
  width:100%;
  will-change: transform;
}

.show {
  transform: translateX(0);
  transition: transform 0.25s ease out;
}

.responsive-img {
  width: 20%;
  height: auto;
}

#nav-menu {
  background: black;
  padding: 0px;
}

#nav-menu li {
  display: inline-block;
  margin: 20px;
}

